body {
    background-color: #121212;
}

.language {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    color: #FFFFFF;
    font-size: 1.5rem;
    background-color: #121212;
}

.btn-language {
    background-color: #03DAC6;
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
}

.btn-language:hover {
    color: #FFFFFF;
}

@media only screen and (max-width: 450px) {
    .language > h1 {
        font-weight: 500;
    }
}