.homepage {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    width: 100%;
}
  
.btn-start {
    width: 15vw;
    height: fit-content;
    font-size: 1.5rem;
    white-space: normal;
    text-decoration: none;
    color: #FFFFFF;
}

.btn-start:hover {
    color: black;
    background-color: #03DAC6;
}

.homepage > p {
    font-size: 1.3rem;
    text-align: justify;
    color: #FFFFFF;
}

.logo {
    height: 40em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    background: none;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

@media only screen and (max-width: 450px) {

    .homepage {
        width: 350px;
    }

    .homepage > p {
        font-size: 0.9rem;
        font-weight: 400;
    }

    .logo {
        height: 25em;
        padding: 1.5em;
    }

    .btn-start {
        width: fit-content;
        height: fit-content;
        font-size: 0.9rem;
    }
}