.navbar {
    width: 100vw;
    height: 11vh;
    padding: 0;
    border-bottom: solid 1px #BB86FC;
}

.brand {
    background: none;
}

.navbar-logo {
    width: 8vw;
    height: 10vh;
    background: none;
    padding: 0;
}

.game-item {
    width: 8vw;
    height: 10vh;
    background: none;
}

.items {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    height: 10vh;
}

@media only screen and (max-width: 450px) {
    .navbar-brand{
        font-size: 0;
    }

    .nav-link {
        font-size: 0;
    }
}